<table class="table table-normal w-full">
  <thead>
    <tr>
      <% @header.each do |heading| %>
        <th><%= heading %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @data.each do | booking| %>
        <tr>
          <td><%= booking.user_name %></td>
          <td><%= booking.phone_number %></td>
          <td><%= booking.email %></td>
          <td><%= booking.adult_no %></td>
          <td><%= booking.child_no %></td>
          <td><%= booking.start_on %></td>
          <td><%= booking.end_on %></td>
          <td><%= link_to "Show this booking", booking, class: "" %></td>
          <td><%= link_to 'Edit this booking', edit_booking_path(booking), class: "" %></td>
        </tr>
    <% end %>
  </tbody>
</table>