<div class="card w-96 bg-base-100 shadow-xl" id="<%= dom_id booking %>">
  <div class="card-body">
    <h2 class="card-title"><%= booking.user_name %></h2>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Checkin</div>
      <div class="basis-3/4"><%= booking.start_on %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Checkout</div>
      <div class="basis-3/4"><%= booking.end_on  %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Email</div>
      <div class="basis-3/4"><%= booking.email %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Phone number</div>
      <div class="basis-3/4"><%= booking.phone_number %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Adults</div>
      <div class="basis-3/4"><%= booking.adult_no %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1/4 font-semibold">Children</div>
      <div class="basis-3/4"><%= booking.child_no %></div>
    </div>
    <div class="flex flex-row">
      <div class="basis-1"><%= booking.details %></div>
    </div>
  </div>
</div>