<div class=" w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
<%= form_with(model: booking, class: "contents") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-4">
  <%= form.label :confirmed, class: "block text-grey-darker text-sm font-bold mb-2" %>
  <%= form.check_box :confirmed,  class: "checkbox checkbox-primary" %>
</div>
  <div class="mb-4">
    <%= form.label :user_name, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_field :user_name,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :email, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.email_field :email,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :phone_number, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_field :phone_number,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :start_on, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.date_field :start_on,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :end_on, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.date_field :end_on,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :adult_no, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.number_field :adult_no,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :child_no, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.number_field :child_no,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>
  <div class="mb-4">
    <%= form.label :details, class: "block text-grey-darker text-sm font-bold mb-2" %>
    <%= form.text_area :details,  class: "shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
</div>
